<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
</head>

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/header :: header"></div>

    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-6/12">
                    <div id="passo-placeholder"></div>

                    <div>
                        <form th:action="@{/compra/pagamento}" th:object="${compra}" method="post" class="flex flex-col" >
                            
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="flex my-5">
                                <h4>Valor Total</h4>
                            </div>

                            <div>
                                <input id="valorTotal" th:value="${total}"></input>
                            </div>

                            <div class="flex my-5" th:if="${cupomFlag}">
                                <select class="form-select" th:object="${cupom}" name="couponSelect"
                                id="cupomSelect" onchange="aplicarCupom()">
                                    <option value="" selected="selected">Selecione um Cupom:</option>
                                    <option th:each="cupom : ${listaCupom}"
                                        th:value="${cupom.id}" 
                                        th:data="${cupom.valor}"
                                        th:text="${cupom.codigo}"></option>
                                </select>
                            </div>

                            <div class="flex justify-between my-5 items-center  ">

                                <a class="hover:border-solid hover:border-2 hover:border-gray-dark px-1 py-1"
                                    th:href="@{/compra/iniciar}">Retornar</a>
                                <button
                                    class="bg-purple px-3 py-3 text-white hover:bg-black transition-all duration-500"
                                    type="submit">Continue</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="w-6/12 pl-10">

                    <div th:replace="pages/roupascarrinho :: roupascarrinho"></div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="pages/footer :: footer"></div>

</body>

<script>
    function aplicarCupom() {
        var cupomId = document.getElementById('cupomSelect').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/compra/aplicarCupom', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var novoValorTotal = JSON.parse(xhr.responseText);
                document.getElementById('valorTotal').value = novoValorTotal;
            }
        };
        xhr.send(cupomId ? JSON.stringify(cupomId) : '""');
    }

</script>

</html>

