<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<div th:replace="pages/head :: head"></div>

<body>
  <div th:replace="pages/header :: header"></div>

  <section>
    <div class="container my-10">
      <div class="flex flex-wrap">
        <div class="w-6/12">
          <!--<div th:replace="pages/passo :: passo"></div>-->

          <div>
            <form th:action="@{/compra/finalizar}" th:object="${compra}" method="post" class="flex flex-col">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
    
              <div class="flex justify-between my-4">
                <h5 class="text-muted mb-0">Revise sua Compra <span style="color: #a8729a;"
                    th:text="${session.nome}"></span>!</h5>
              </div>

              <h2 class="font-bold text-xl mt-10 mb-3">Endereço de envio</h2>
              <h5 class="text-muted mb-0">Rua</h5>
              <span class="my-3" type="text" th:text="${endereco.rua}" readonly />
              <h5 class="text-muted mb-0">Complemento</h5>
              <span type="text" th:text="${endereco.complemento}" readonly />
              <h5 class="text-muted mb-0">Bairro</h5>
              <span class="my-3" type="text" th:text="${endereco.bairro}" readonly />
              <h5 class="text-muted mb-0">Cidade</h5>
              <span type="text" th:text="${endereco.cidade}" readonly />
              <h5 class="text-muted mb-0">Estado</h5>
              <span class="my-3" type="text" th:text="${endereco.estado}" readonly />
              <h5 class="text-muted mb-0">CEP</h5>
              <span type="text" th:text="${endereco.cep}" readonly />
              
              <h2 class="font-bold text-xl mt-10 mb-3">Cartão de Crédito</h2>
              <div th:each="cartao : ${cartoes}">
                <h5 class="text-muted mb-0">Número do Cartão</h5>
                <span class="my-3" th:text="${cartao.numeroCartao}" readonly></span>
                <h5 class="text-muted mb-0">Nome do Titular</h5>
                <span th:text="${cartao.nomeTitular}" readonly></span>
                <h5 class="text-muted mb-0">Data de Validade</h5>
                <span class="my-3" th:text="${cartao.dataValidade}" readonly></span>
                <h5 class="text-muted mb-0">Bandeira</h5>
                <span th:text="${cartao.bandeira}" readonly></span>
                <!-- <h5 class="text-muted mb-0">Valor da Parcela</h5>
                <span th:text="${cartao.valorParcela}" readonly></span> -->
                <div class="flex justify-between my-5"></div>
            </div>
            
              

              <div class="flex justify-between my-5 items-center  ">

                <a href="#" class="hover:border-solid hover:border-2 hover:border-gray-dark px-1 py-1"
                  th:href="@{/compra/pagamento}">Retornar</a>
                <button class="bg-purple px-3 py-3 text-white hover:bg-black transition-all duration-500"
                  type="submit">Finalizar</button>

              </div>

            </form>
          </div>
        </div>
        <div class="w-6/12 pl-10">
          <div th:replace="pages/roupascarrinho :: roupascarrinho"></div>
        </div>
      </div>
    </div>
  </section>

  <div th:replace="pages/footer :: footer"></div>
</body>

</html>