<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adm/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div class="card mb-4">
		<div class="card-header">
			<p class="text-primary">Cliente</p>
		</div>
		<div>
			<div class="card-body">
				<form class="row g-3" method="POST" th:object="${cliente}"
					th:action="@{/admin/editar}">
					
					<div class="flex flex-col">
                        <input type="hidden" th:field="*{id}"/>
                        
                        <div class="my-3 flex flex-col">
                            <label for="Nome Completo" class="my-3 font-bold">Nome Completo</label>
                            <input type="text" placeholder="Seu nome Completo"
                                class="form-control" required th:field="*{nomeCompleto}">
                            <div class="text-danger" th:if="${#fields.hasErrors('nomeCompleto')}"
                                th:errors="*{nomeCompleto}"></div>
                        </div>
                        
                        <div class="my-3 flex flex-col">
                            <label for="Telefone" class="my-3 font-bold">Telefone</label>
                            <input type="text" placeholder="Digite seu Telefone"
                                class="form-control" required th:field="*{telefone}">
                            <div class="text-danger" th:if="${#fields.hasErrors('telefone')}"
                                th:errors="*{telefone}"></div>
                        </div>


                        <div class="my-3 flex flex-col">
                            <label for="CPF" class="font-bold my-3" >Digite seu CPF</label>
                            <input type="number" placeholder="00000000000"
                                class="form-control" required th:field="*{cpf}">
                            <div class="text-danger" th:if="${#fields.hasErrors('cpf')}"
                                th:errors="*{cpf}"></div>
                        </div>
                        
                        <div class="my-3 flex flex-col">
                            <label for="Email" class="font-bold my-3">Email</label>
                            <input type="text" placeholder="exemplo@email.com"
                                class="form-control" required th:field="*{email}">
                            <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"></div>
                        </div>

                        <div class="my-3 flex flex-col">
                            <label for="Senha" class="font-bold my-3">Senha</label>
                            <input type="password" placeholder="Senha"
                                class="form-control" required th:field="*{senha}">
                            <div class="text-danger" th:if="${#fields.hasErrors('senha')}"
                                th:errors="*{senha}"></div>
                        </div>
					

					<div class="rom-row">
						
					</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Salvar
						Cadastro</button>
				</div>

				</form>
			</div>
		</div>
	</div>
</div>
</html>

<div th:replace="pages/head :: head"></div>
<body>
	<div th:replace="pages/footer :: footer"></div>
</body>

