<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{adm/layout.html}">
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>

    <div class="card mb-4">
        <div class="card-header">
            <p class="text-primary">Compra</p> <span th:text="${cliente.nomeCompleto}"></span>
        </div>
        <div>
            <div class="card-body">
                <form class="row g-3" method="POST" th:object="${compra}" th:action="@{/compra/detalharAdmin}">

                    <div class="flex flex-wrap">
                        <div class="w-5/12">

                            <div class="my-3 flex flex-col">
                                <label for="nomeCompleto" class="my-3 font-bold">Nome Completo</label>
                                <span type="text" class="form-control" th:text="*{cliente.nomeCompleto}">
                            </div>

                            <div class="my-3 flex flex-col">
                                <label for="cpf" class="my-3 font-bold">CPF</label>
                                <span type="text" class="form-control" th:text="*{cliente.cpf}">
                            </div>

                            <div class="my-3 flex flex-col">
                                <label for="telefone" class="my-3 font-bold">Telefone</label>
                                <span type="text" class="form-control" th:text="*{cliente.telefone}">
                            </div>

                            <div class="my-3 flex flex-col">
                                <label for="formaPagamento" class="my-3 font-bold">Forma de Pagamento</label>
                                <span type="text" class="form-control" th:text="*{formaPagamento}">
                            </div>

                            <div class="my-3 flex flex-col">
                                <label for="valorFrete" class="my-3 font-bold">Valor do Frete</label>
                                <span type="text" class="form-control" th:text="*{valorFrete}">
                            </div>

                            <div class="my-3 flex flex-col">
                                <label for="valorTotal" class="my-3 font-bold">Valor Total</label>
                                <span type="text" class="form-control" th:text="*{valorTotal}">
                            </div>
                            <!--
                            <div class="my-3 flex flex-col">
                                <label for="status" class="my-3 font-bold">Status</label>
                                <span type="text" class="form-control" th:text="*{status}">
                            </div>
-->
                        </div>

                        <div th:replace="adm/compras/status :: status"></div>

                        <div class="rom-row">
                            <div class="col-md-2">
                                <a class="btn btn-primary" th:href="@{/compra/listarAdmin}">Voltar</a>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/footer :: footer"></div>
</body>