<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{adm/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>

    <div class="card mb-4">
        <div class="card-header">
            <p class="text-primary">Registro de Estoque do Produto</p>
        </div>
        <div>
            <div class="card-body">
                
                <form class="row g-3" method="POST" th:action="@{/produto/atualizar}" >
                    <input type="hidden" name="id" th:value="${id}" />
                    <span type="text" name="nome" th:text="${nome}" ></span>
                    <input type="number" name="quantidade" placeholder="Quantidade" required />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">
                            Adicionar estoque
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/footer :: footer"></div>
</body>

