<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<head>
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div class="card mb-4">
		<div class="card-header">
			<p class="text-primary">Compra</p><span th:text="${compra.numeroCompra}"></span>
		</div>
		<div class="flex flex-wrap">
		<div class="w-6/12">
			<div class="card-body">
				<form class="row g-3" 
					th:action="@{/compra/listar}">

					<div class="col-6">
						<label for="nome" class="form-label">Data da Compra </label> <span
							type="text" class="form-control" 
							th:text="${compra.data}">
					</div>
					<div class="col-6">
						<label for="nome" class="form-label">Hora da Compra</label> <span
							type="text" class="form-control" 
							th:text="${compra.hora}">
					</div>
					<div class="col-6">
						<label for="nome" class="form-label">Forma de Pagamento </label> <span
							type="text" class="form-control" 
							th:text="${compra.formaPagamento}">
					</div>
					<div class="col-6">
						<label for="nome" class="form-label">Valor do Frete </label> <span
							type="text" class="form-control" 
							th:text="${compra.valorFrete}">
					</div>
					<div class="col-6">
						<label for="nome" class="form-label">Valor Total </label> <span
							type="text" class="form-control" 
							th:text="${compra.valorFinal}">
					</div>
					<div class="col-6">
						<label for="nome" class="form-label">Status </label> <span
							type="text" class="form-control" 
							th:text="${compra.status}">
					</div>
					

					<div class="d-flex justify-content-between">
						<div class="col-md-2 h5-inline">
							<button type="submit" class="btn btn-primary">Voltar</button>
						</div>
						<div th:if="${status == 'EM_TRANSITO'}" class="link-container">
							<h5 class="fw-normal btn btn-primary mb-0 h5-inline">
								<a th:href="@{/compra/recebido(id=${compra.id})}" 
									onclick="return confirm('Deseja confirmar o recebimento da compra?')">Confirmar</a>
							</h5>		
						</div>	
						<div th:if="${status == 'ENTREGUE'}" class="link-container">
							<h5 class="fw-normal btn btn-primary mb-0 h5-inline">
								<a th:href="@{/compra/trocar(id=${compra.id})}" 
									onclick="return confirm('Deseja solicitar a troca?')">Trocar</a>
							</h5>		
						</div>		
						<div th:if="${status == 'TROCA_AUTORIZADA'}" class="link-container">
							<h5 class="fw-normal btn btn-primary mb-0 h5-inline">
								<a th:href="@{/compra/enviado(id=${compra.id})}" 
									onclick="return confirm('Deseja confirmar envio dos produtos para a troca?')">Enviado</a>
							</h5>		
						</div>			
					</div>


				</form>
			</div>
		</div>
		<div class="w-6/12 pl-10">
			<div th:replace="pages/roupascarrinho :: roupascarrinho"></div>
		</div>
	</div>
	</div>
	
</div>
</html>

<div th:replace="pages/head :: head"></div>
<body>
	<div th:replace="pages/footer :: footer"></div>
</body>
