<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="header.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Cadastro Completo</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/header.js"></script>
    <script src="../../static/js/footer.js"></script>
    <script src="../../static/js/passo.js"></script>
</head>

<body>
    <div id="header-placeholder"></div> 


    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-6/12">
                    <div id="passo-placeholder"></div>
                
                    <div class="flex justify-between my-4">
                        <h2 class="font-bold text-xl">
                           Informações
                        </h2>
                        
                        <a href="#">
                            <h2 class="font-bold text-xl mr-24">
                                Já possui uma conta? <span class="text-purple font-normal">Entrar</span>
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="w-6/12">
                    <h2 class="bg-blue-600">teste</h2>
                </div>
            </div>
        </div>
    </section>


    <div id="footer-placeholder"></div>
</body>


</html>

