<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="header.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Cadastro Completo</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/header.js"></script>
    <script src="../../static/js/footer.js"></script>
</head>

<body>
    <div id="header-placeholder"></div> 


    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-7/12">
                    <ul class="flex list-none">
                        <div class="flex cursor-pointer mx-3">
                            
                            <div class="my-2 mr-10 flex items-center flex-col">
                                <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color"></ion-icon>
                                <li>Minha Bolsa</li>
                            </div>

                            <div class="my-2 mx-10 flex items-center flex-col">
                                <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color"></ion-icon>
                                <li>Informação</li>
                            </div>

                            <div class="my-2 mx-10 flex items-center flex-col">
                                <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color"></ion-icon>
                                <li>Envio</li>
                            </div>

                            <div class="my-2 mx-10 flex items-center flex-col">
                                <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color"></ion-icon>
                                <li>Pagamento</li>
                            </div>
                        </div>                        
                    </ul>

                    <div>
                        <h2 class="font-bold text-xl">
                            Método de Pagamento
                        </h2>

                        <div class="my-2">
                            <input type="radio" id="cartao de credito" name="cartao de credito" value="cartao de credito">
                            <label for="cartao de credito">cartao de credito</label>
                        </div>
                    </div>
                </div>
                <div class="w-5/12">
                    <h2 class="bg-blue-600">teste</h2>
                </div>
            </div>
        </div>
    </section>


    <div id="footer-placeholder"></div>
</body>


</html>

