<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="header.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Cadastro Completo</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/header.js"></script>
    <script src="../../static/js/footer.js"></script>
</head>

<body>
    <div id="header-placeholder"></div> 


    <div class="container my-10">
        <div class="flex justify-center items-center flex-col">
            <img src="../../static/img/cadastro-completo.png" alt="cadastro completo">
            <h2 class="font-bold text-3xl">Obrigado por se cadastrar em nossa loja!</h2>
        </div>
    </div>


    <div id="footer-placeholder"></div>
</body>


</html>

