<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/header :: header"></div>


    <div class="container my-10">
        <div class="flex justify-center items-center flex-col">
            <img th:src="@{/img/cadastro-completo.png}" alt="cadastro completo">
            <h2 class="font-bold text-3xl">Obrigado por se cadastrar em nossa loja!</h2>
        </div>
    </div>


    <div th:replace="pages/footer :: footer"></div>
</body>


</html>

