
    <div class="bg-gray mt-10 px-5 py-5">

        <h2 class="font-bold text-xl">Carrinho de compras <span class="font-normal">(${itemCount} items)</span></h2>

        <div class="flex flex-col my-5">

            <div class="flex mt-10">

                <img class="h-[200px]" th:src="@{/img/img-roupas.png}" alt="imagem roupas">

                <div class="flex flex-col px-5">
                    <h2 class="font-bold">Conjunto Jabuti</h2>
                    <h2>R$ 120.00</h2>
                    <div class="mt-20">
                        <h2 class="font-bold">Cor: Preta</h2>
                        <h2>Tamanho: M</h2>
                    </div>
                </div>  

            </div>

            <div class="flex mt-10">

                <img class="h-[200px]" th:src="@{/img/img-roupas.png}" alt="imagem roupas">

                <div class="flex flex-col px-5">
                    <h2 class="font-bold">Conjunto Jabuti</h2>
                    <h2>R$ 120.00</h2>
                    <div class="mt-20">
                        <h2 class="font-bold">Cor: Preta</h2>
                        <h2>Tamanho: M</h2>
                    </div>
                </div>  

            </div>

            <div class="font-bold flex justify-between mt-5">
                <h2>Total</h2>
                <span>R$ 240.00</span>
            </div>
          
        </div>
    </div>
    
</div>