<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/header :: header"></div>

    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-6/12">
                    <div id="passo-placeholder"></div>

                    <div>
                        <form th:action="@{/compra/cupom}" th:object="${endereco}" method="post" class="flex flex-col">

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <h2 class="font-bold text-xl mt-10 mb-3">Endereço de envio</h2>

                            <div>
                                <label class="font-bold my-3">Selecione o endereço de envio</label>
                                <select class="form-select" th:object="${endereco}" name="selectedEndereco"
                                    id="addressDropdown" onchange="updateFields()">
                                    <option value="" selected="selected">Selecione um endereço</option>
                                    <option th:each="endereco : ${listaEnderecos}" th:value="${endereco.id}"
                                        th:data-rua="${endereco.rua}" th:data-complemento="${endereco.complemento}"
                                        th:data-bairro="${endereco.bairro}" th:data-cidade="${endereco.cidade}"
                                        th:data-estado="${endereco.estado}" th:data-cep="${endereco.cep}"
                                        th:text="${endereco.tipo}"></option>
                                </select>
                            </div>

                            <!-- tinha um atributo readonly mas eu tirei -->
                            <input readonly class="my-3 border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg"  placeholder="Endereço" type="text" id="enderecoInput" />
                            <input readonly class="border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg" placeholder="Complemento" type="text" id="complementoInput" />
                            <input readonly class="my-3 border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg" placeholder="Bairro" type="text" id="bairroInput" />
                            <input readonly class="border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg" placeholder="Cidade" type="text" id="cidadeInput" />
                            <input readonly class="my-3 border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg" placeholder="Estado" type="text" id="estadoInput" />
                            <input readonly class="border-2 border-solid border-[#d1d5db] outline-none pl-5 py-2 rounded-lg" placeholder="CEP" type="text" id="cepInput" />

                            <div class="flex justify-between my-5 items-center">
                                <a class="font-medium text-white inline-block w-52 my-5 text-center py-2 rounded-md bg-gradient-to-r from-pink-300 to-pink-500 hover:from-pink-500 hover:to-pink-700 transition duration-500"
                                    th:href="@{/carrinho/detalhar}">Retornar
                                </a>
                                <button
                                    class="bg-purple inline-block w-52 my-5 text-center py-2 rounded-md text-white hover:bg-black transition-all duration-500"
                                    type="submit">Continue
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="w-6/12 pl-10">

                    <div th:replace="pages/roupascarrinho :: roupascarrinho"></div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="pages/footer :: footer"></div>

    <script>
        function updateFields() {
            const dropdown = document.getElementById('addressDropdown');
            const selectedOption = dropdown.options[dropdown.selectedIndex];

            if (selectedOption.value === "") {
                // Clear all fields if empty option is selected
                document.getElementById('enderecoInput').value = "";
                document.getElementById('complementoInput').value = "";
                document.getElementById('bairroInput').value = "";
                document.getElementById('cidadeInput').value = "";
                document.getElementById('estadoInput').value = "";
                document.getElementById('cepInput').value = "";
            } else {
                document.getElementById('enderecoInput').value = selectedOption.getAttribute('data-rua');
                document.getElementById('complementoInput').value = selectedOption.getAttribute('data-complemento');
                document.getElementById('bairroInput').value = selectedOption.getAttribute('data-bairro');
                document.getElementById('cidadeInput').value = selectedOption.getAttribute('data-cidade');
                document.getElementById('estadoInput').value = selectedOption.getAttribute('data-estado');
                document.getElementById('cepInput').value = selectedOption.getAttribute('data-cep');
            }
        }
    </script>
</body>

</html>