<footer class="bg-gray" th:fragment="footer">
    <div class="container py-10">
        <div class="flex">
            <div class="w-4/12">
                <div>
                    <h2 class="text-2xl tracking-wider font-bold mt-10 mb-16">Boutique Pierrot Bleu</h2>
                    <h3 class="text-xl">Inscreva-se no nosso site</h3>
                    <div class="flex items-center">
                        <input class="pl-5 py-1 my-3 outline-none" type="email" placeholder="Entre com seu email">
                        <button class="w-8 h-8"> 
                            <ion-icon name="send-outline" class="bg-purple text-white w-6 h-6 p-1"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>

            <!-- <div class="w-2/12">
                <h2 class="mt-10 font-semibold">Nossa Loja</h2>
                <ol>
                    <li class="my-3">
                        <a href="#">Sobre nós</a>
                    </li>
                    <li>
                        <a href="#">Trabalhe conosco</a>
                    </li>
                    <li class="my-3">
                        <a href="#">Nosso time</a>
                    </li>
                    <li>
                        <a href="#">SAC</a>
                    </li>
                </ol>
            </div> -->

            <div class="w-2/12">
                <h2 class="mt-10 font-semibold">Compras</h2>
                <ol>
                    <li class="my-3">
                        <a href="#">Produtos</a>
                    </li>
                    <li>
                        <a href="#">Minha Conta</a>
                    </li>
                    <!-- <li class="my-3">
                        <a href="#">Regras de envio</a>
                    </li>
                    <li>
                        <a href="#">Devolução</a>
                    </li> -->
                </ol>
            </div>

            <div class="w-2/12">
                <h2 class="mt-10 font-semibold">Suporte</h2>
                <ol>
                    <li class="my-3">
                        <a href="#">Contate-nos</a>
                    </li>
                    <!-- <li>
                        <a href="#">Opções de pagamento</a>
                    </li> -->
                    <!-- <li class="my-3">
                        <a href="#">Acessibilidade</a>
                    </li>
                    <li>
                        <a href="#">Afiliados</a>
                    </li> -->
                </ol>
            </div>
    
        </div>
       
        <div class="flex justify-between mt-12">

            <h2 class="text-sm">
                @2024 Todos os direitos reservados Pierrot Team.
            </h2>

            <div class="flex">
                <h3 class="text-sm">
                    Métodos de Pagamentos
                </h3>
                <ol class="flex ml-3">

                    <li class="mx-2">
                        <img class="w-8 h-8 object-contain" th:src="@{/img/visa.png}" alt="visa">
                    </li>
                    <li>
                        <img class="w-8 h-8 object-contain" th:src="@{/img/mastercard.png}" alt="mastercard">
                    </li>
                    <li class="mx-2">
                        <img class="w-8 h-8 object-contain" th:src="@{/img/paypal.png}" alt="paypal">
                    </li>
                
                </ol>
            </div>
        </div>
    </div>

    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/swiper.js}"></script>
    <script type="module" th:src="@{https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js}"></script>
   
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    

</footer>
