<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>footer</title>
</head>
<body>
    <div class="container">
        <div class="flex">
            <div class="w-6/12">
                <div class="my-10">
                    <h2 class="text-2xl font-bold">Boutique Pierrot Bleu</h2>
                    <h3 class="text-xl my-5">Inscreva-se no nosso site</h3>

                    <!-- <input type="text"> -->
                </div>
            </div>
            <div class="w-6/12">teste</div>
        </div>
    </div>
</body>

<style>
</style>
</html>

