
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="pages/head :: head"></div>

<body>
    <header th:fragment="header">
        <nav>
            <script defer th:src="@{https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js}"></script>
            <div class="container flex justify-between py-5 bg-gray-dark z-10">
                <div>
                    <h2 class="font-bold">
                        <a th:href="@{/}">Boutique Pierrot Bleu</a>
                    </h2>
                </div>
                <ol class="flex">
                    <li class="mx-3">
                        <a href="" class="transition duration-500 hover:bg-purple rounded-xl px-3 py-2">Novidades</a>
                    </li>
                    <li class="mx-3">
                        <a href="#" class="transition duration-500 hover:bg-purple rounded-xl px-3 py-2">Masculino</a>
                    </li>
                    <li class="mx-3">
                        <a href="#"class="transition duration-500 hover:bg-purple rounded-xl px-3 py-2">Feminino</a>
                    </li>
                </ol>

                <div>
                    <ion-icon class="mx-3" name="search-outline"></ion-icon>
                    <ion-icon class="mx-3" name="cart-outline"></ion-icon> 
                    <a th:href="@{cliente/login}">
                        <ion-icon class="mx-3" name="people-outline"></ion-icon> 
                    </a>
                </div>
                    <!-- <ion-icon class="mx-3" name="search-outline"></ion-icon> -->
                    
                    <div x-data="{ isOpen: false }">
                        <button @click="isOpen = !isOpen">
                            <ion-icon class="mx-3" name="cart-outline">
                        </button>
                        <div x-show="isOpen">
                            <h1 class="bg-blue-700">
                                testeue
                            </h1>
                        </div>
                    </div>  
                        
                    <!-- </ion-icon><a href=""><ion-icon class="mx-3" name="people-outline"></ion-icon></a> -->

            </div> 
        </nav>
    </header>
</body>


