<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  

<div th:replace="pages/head :: head"></div>

<body>
    <style>
        .banner-principal {
            background-image: url(/img/banner-principal.png);
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div th:replace="pages/header :: header"></div>

    <section class="h-[100vh] banner-principal">

        <div class="container">
            <div class="pt-52">
                <img th:src="@{img/desconto.png}" alt="desconto">
                <div>
                    <a th:href="@{produto/listarProdutos}" class="bg-purple px-5 py-5 rounded-2xl inline-block hover:bg-black hover:text-white transition duration-500">
                        Compre Agora <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>
            </div>
           
        </div>
    
    </section>

    <section class="my-5">
        <div class="container">
            
            <img th:src="@{img/marcas.png}" alt="marcas de roupas">
            <div class="swiper swiper-roupas my-10" >
                <div class="swiper-wrapper">

                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="w-full">
                            <a href="#">
                                <img th:src="@{img/swiper-1.png}" alt="roupas">
                                <div class="text-center my-2">
                                    <h2 class="font-bold">Casaco Zebra</h2>
                                    <h3 class="font-bold text-purple">R$1.300</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <div class="flex justify-center">
                <div class="w-5/12 relative">
                    <a href="#">
                        <h2 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl font-semibold">Masculino</h2>
                        <img class="hover:bg-black hover:opacity-75 rounded-lg transition duration-500" th:src="@{img/masculino.png}" alt="roupa masculina">
                    </a>
                </div>
                <div class="w-5/12 relative">
                    <a href="#">
                        <h2 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl font-semibold">Feminino</h2>
                        <img class="hover:bg-black hover:opacity-75 rounded-lg transition duration-500" th:src="@{/img/feminina.png}" alt="roupa feminina">
                    </a>
                </div>
            </div>
        </div>
    </section>
 
    <div th:replace="pages/footer :: footer"></div>
</body>
</html>

