<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/header :: header"></div>

    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-6/12">
                    <div th:replace="pages/passo :: passo"></div>
                
                    <div class="flex justify-between my-4">
                        <h2 class="font-bold text-xl">
                          Modo de envio
                        </h2>
                    </div>

                    <div>
                        <form action="" method="" class="flex flex-col">
                            <div class="flex justify-between items-center">
                                
                                <div class="flex">
                                    <input type="radio" class="w-5">    
                                    <div class="flex flex-col ml-3">
                                        <h2 class="font-medium">Envio Gratuito</h2>
                                        <h3 class="font-medium">Envio entre 70-100 dias</h3>
                                    </div>
                                </div>

                                <h2 class="font-bold text-lg">Grátis</h2>
                            </div>

                            <div class="flex justify-between items-center mt-5">
                                
                                <div class="flex">
                                    <input type="radio" class="w-5">    
                                    <div class="flex flex-col ml-3">
                                        <h2 class="font-medium">Retirada na loja</h2>
                                        <h3 class="font-medium">Possíveis após 50-70 dias</h3>
                                    </div>
                                </div>

                                <h2 class="font-bold text-lg">R$ 80,00</h2>
                            </div>

                            <div class="flex justify-between items-center mt-5">
                                
                                <div class="flex">
                                    <input type="radio" class="w-5">    
                                    <div class="flex flex-col ml-3">
                                        <h2 class="font-medium">Sedex</h2>
                                        <h3 class="font-medium">Envio em 1-7 dias</h3>
                                    </div>
                                </div>

                                <h2 class="font-bold text-lg">R$ 37,00</h2>
                            </div>                          
                        </form>
                    </div>

                    <div class="flex justify-between my-5 items-center  ">

                        <a href="#" class="hover:border-solid hover:border-2 hover:border-gray-dark px-1 py-1">Retornar</a>
                        <button class="bg-purple px-3 py-3 text-white hover:bg-black transition-all duration-500">Continue</button>

                    </div>

                </div>
                
                <div class="w-6/12 pl-10">
                    <div th:replace="pages/roupascarrinho :: roupascarrinho"></div>
                </div>
                
            </div>
        </div>
    </section>


    <div th:replace="pages/footer :: footer"></div>
</body>
</html>

