<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="header.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Cadastro Modo de Envio</title>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/header.js"></script>
    <script src="../../static/js/footer.js"></script>
    <script src="../../static/js/passo.js"></script>
    <script src="../../static/js/carrinhodecompras.js"></script>
</head>

<body>
    <div id="header-placeholder"></div> 


    <section>
        <div class="container my-10">
            <div class="flex flex-wrap">
                <div class="w-6/12">
                    <div id="passo-placeholder"></div>
                
                    <div class="flex justify-between my-4">
                        <h2 class="font-bold text-xl">
                          Modo de envio
                        </h2>
                    </div>

                    <div>
                        <form action="" method="" class="flex flex-col">
                            <div class="flex ">
                                <input type="radio">
                                <h2>Envio Gratuito</h2>
                                <h2>Envio entre 70-100 dias</h2>
                            </div>
                           
                          
                        </form>
                    </div>

                    <div class="flex justify-between my-5 items-center  ">

                        <a href="#" class="hover:border-solid hover:border-2 hover:border-gray-dark px-1 py-1">Retornar</a>
                        <button class="bg-purple px-3 py-3 text-white hover:bg-black transition-all duration-500">Continue</button>

                    </div>

                </div>
                
                <div class="w-6/12 pl-10">
                    <div id="carrinhodecompras-placeholder"></div>
                </div>
                
            </div>
        </div>
    </section>


    <div id="footer-placeholder"></div>
</body>


</html>

