<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  

<div th:replace="pages/head :: head"></div>

<body>
    <div th:replace="pages/header :: header"></div>

    <div class="relative">
        <img class="w-full" th:src="@{/img/banner-nova-chegada.png}" alt="nova chegada de roupas">
        <h2 class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-white font-bold text-3xl tracking-wider">Novas Chegadas</h2>
    </div>

    <div class="container my-10" class="flex">

        <div class="flex flex-wrap">
            
            <div class="w-4/12 px-3 ">
                <img th:src="@{/img/swiper-1.png}" alt="roupas">
                <div class="text-center my-2">
                    <h2 class="font-bold">Casaco Zebra</h2>
                    <h3 class="font-bold text-purple">R$1.300</h3>
                </div>
            </div>           

        </div>
    </div>
  <div th:replace="pages/footer :: footer"></div>

</body>
</html>

