
<div class="flex list-none" th:fragment="passo">

    <style>
        .line-center::before {
            content: '';
            width: 100%;
            height: 2px;
            top: 50%;
            transform: translateY(calc(-50% - 12px));
            position: absolute;
            background-color: #f4d0a3;
        }
    </style>

    <div class="line-center flex relative cursor-pointer mx-3">
        
        <div class="my-2 mr-10 flex items-center flex-col">
            <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color bg-white"></ion-icon>
            <p>Minha Bolsa</p>
        </div>

        <div class="my-2 mx-10 flex items-center flex-col">
            <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color bg-white"></ion-icon>
            <p>Informação</p>
        </div>

        <div class="my-2 mx-10 flex items-center flex-col">
            <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color bg-white"></ion-icon>
            <p>Envio</p>
        </div>

        <div class="my-2 mx-10 flex items-center flex-col">
            <ion-icon name="checkmark-outline" class="px-2 py-2 hover:text-black hover:border-2 hover:border-solid hover:border-black transition-all duration-500 text-skin-color rounded-full w-10 h-10 border-solid border-2 border-skin-color bg-white"></ion-icon>
            <p>Pagamento</p>
        </div>
    </div>                        
</div>