<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
        Nenhum produto recomendado.
    </div>
    <div th:if="${mensagem}" class="alert alert-success" role="alert">
        <p th:text="${mensagem}"></p>
    </div>
    <div th:if="${not #lists.isEmpty(lista)}">
        

        <table id="tabelaproduto" class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${lista}">
                    <td th:text="${produto.nome}"></td>
                    
                                     
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/produto/novo(id=${produto.id})}">Editar</a>
                        <a class="btn btn-primary btn-sm ml-3" th:href="@{/produto/excluir(id=${produto.id})}" 
                           onclick="return confirm('Você realmente deseja excluir esse produto?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>

<div th:replace="pages/head :: head"></div>
<body>
	<div th:replace="pages/footer :: footer"></div>
</body>


