.input-telefone, .input-nome-completo, .input-cpf, .input-email, .input-senha, .input-cep, .input-rua, .input-numero, .input-bairro, .input-cidade, .input-estado{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-add-endereco{
    background-color: rgb(174, 70, 174);
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn-add-endereco:hover{
    background-color: rgb(214, 142, 142);
    color: white;
    font-size: 18px;
    transition-duration: 0.5s;
}

.form{
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.my-10{
    margin: 10px;  
}