.btn_logout{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.492);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn_logout:hover{
    background-color: rgba(0, 0, 255, 0.511);
    color: white;
    transition-duration: 700ms;
}

.menu__item{
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

.menu__link:hover{
    color:red;
    transition-duration: 700ms;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: underline;
}

[x-cloak] {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    transform: scale(3.3)
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid #451e44;
    border-color: #451e44 transparent #451e44 transparent;
    animation: lds-dual-ring 1000ms linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1000ms;
}

.loading-screen.hide {
    opacity: 0;
    pointer-events: none;
}