<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>

	<div class="card mb-4">
		<div class="card-header">
			<p class="text-primary text-center text-xl font-bold">Cartão de Crédito</p>
		</div>
		<div>
			<div class="card-body">
				<form class="row g-3" method="POST" th:object="${creditcard}" th:action="@{/cartao/editar}">
					<input type="hidden" th:field="*{id}">

					<div class="col-4">
						<label for="nome" class="form-label">Apelido Cartão </label> 
						<input type="text" class="form-control" th:field="*{apelidoCartao}" placeholder="Corporativo, pessoal, refeição, ...">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Número Cartão </label> 
						<input type="text" class="form-control" th:field="*{numeroCartao}" placeholder="0000.0000.0000.0000">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Nome Titular </label> 
						<input type="text" class="form-control" th:field="*{nomeTitular}" placeholder="Nome aqui...">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Data Validade </label> 
						<input type="text" class="form-control" th:field="*{dataValidade}" placeholder="DD/MM/AAAA">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Código Segurança </label> 
						<input type="text" class="form-control" th:field="*{codigoSeguranca}" placeholder="000">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Bandeira </label> 
						<input type="text" class="form-control" th:field="*{bandeira}" placeholder="Master, Visa, ...">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">CPF Titular </label> 
						<input type="text" class="form-control" th:field="*{cpfTitular}" placeholder="000.000.000-00">
					</div>

					<div class="row"></div>

					<div class="col-md-2">
						<button type="submit" class="btn btn-primary bg-purple text-white py-2 px-2 rounded-lg hover:bg-black hover:text-white' transition duration-500 cursor-pointer">Salvar Cadastro</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

</html>

<div th:replace="pages/head :: head"></div>

<body>
	<div th:replace="pages/footer :: footer"></div>
</body>