<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="graficoProduto">

    <canvas id="vendasChart" style="width:100%;max-width:700px"></canvas>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const vChart = document.getElementById('vendasChart').getContext('2d');
        const dadosGrafico = /*[[${dadosGrafico}]]*/ '[]';
        const meses = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
            "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
        console.log(dadosGrafico);
        console.log(meses);

        const config = {
            type: 'line',
            data: {
                labels: meses,
                datasets: dadosGrafico.map(dados => ({
                    label: dados.label,
                    data: dados.data,
                    fill: false,
                    borderColor: dynamicColor(), // Função para gerar cores dinamicamente
                    tension: 0.1
                }))
            }
        };

        function dynamicColor() {
            const r = Math.floor(Math.random() * 255);
            const g = Math.floor(Math.random() * 255);
            const b = Math.floor(Math.random() * 255);
            return `rgb(${r},${g},${b})`; // Retorna uma string rgb com cores aleatórias
        }


        new Chart(vChart, config);
        /*]]>*/
    </script>

</div>

</html>