<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	
</div>
</html>

<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <div th:replace="pages/head :: head"></div>
<body>
	<h1 class="font-bold text-3xl ms-lg-4 mb-3">Seja Bem-Vindo.</h1>
	<br>
	
	<div th:replace="pages/footer :: footer"></div>
</body>