<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
        Nenhum cupom cadastrado.
    </div>
    <div th:if="${mensagem}" class="alert alert-success" role="alert">
        <p th:text="${mensagem}"></p>
    </div>
    <div th:if="${not #lists.isEmpty(lista)}">

        <table id="tabelaCupom" class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Data de Validade</th>
                    
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cupom : ${lista}">
                    <td th:text="${cupom.codigo}"></td>
                    <td th:text="${cupom.tipo}"></td>
                    <td th:text="${cupom.valor}"></td>
                    <td th:text="${cupom.dataValidade}"></td>
                                     
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/cupom/detail(id=${cupom.id})}">Voltar</a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>



<div th:replace="pages/head :: head"></div>
<body>
	<div th:replace="pages/footer :: footer"></div>
</body>



