<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{usr/layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
        Nenhum endereço cadastrado.
    </div>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${not #lists.isEmpty(lista)}">
        
        <div>
            <a class="btn btn-primary btn-sm" th:href="@{/endereco/novo}">Cadastrar</a>
            
        </div>

        <div class="form-check form-switch mt-3" onclick="toggleContent()">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Pesquisa</label>
        </div>

        <div id="hiddenContent" th:style="${condition} ? '' : 'display: none;'">
            
            <button type="button" onclick="addSearchFilter()">+</button>
            <input class="my-3" id="txtSearch" placeholder="Rua" type="text" name="keyword"></input>

        </div>

        <table id="tabelaendereco" class="table table-striped">
            <thead>
                <tr>
                    <th>CEP</th>
                    <th>Rua</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="endereco : ${lista}">
                    <td th:text="${endereco.cep}"></td>
                    <td th:text="${endereco.rua}"></td>
                    <td th:text="${endereco.complemento}"></td>
                    <td th:text="${endereco.bairro}"></td>
                    <td th:text="${endereco.cidade}"></td>
                    <td th:text="${endereco.estado}"></td>
                                     
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/endereco/novo(id=${endereco.id})}">Editar</a>
                        <a class="btn btn-primary btn-sm ml-3" th:href="@{/endereco/excluir(id=${endereco.id})}" 
                           onclick="return confirm('Você realmente deseja excluir esse endereco?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>

<div th:replace="pages/head :: head"></div>
<body>
	<div th:replace="pages/footer :: footer"></div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
        var enderecos = /*[[${lista}]]*/ 'default';
    /*]]>*/
    $('#txtSearch').keyup(function(){
        filterTable($(this).val(), 'rua');
    });

    function addSearchFilter() {
        var hiddenContent = document.getElementById('hiddenContent');
        var filterInput = document.createElement('input');
        filterInput.className = 'my-3';
        filterInput.type = 'text';
        filterInput.onkeyup = function() {
            var attribute = this.getAttribute('data-attribute');
            filterTable(this.value, attribute);
        };
        
        // Determine the next filter based on existing filters in the hiddenContent div
        var existingFilters = hiddenContent.getElementsByTagName('input').length;
        var placeholders = ['Rua', 'Bairro', 'Cidade', 'Estado'];
        var names = ['rua', 'bairro', 'cidade', 'estado'];
        if (existingFilters < placeholders.length) {
            filterInput.placeholder = placeholders[existingFilters];
            filterInput.setAttribute('data-attribute', names[existingFilters]);
            hiddenContent.appendChild(filterInput);
        }
    }

    function toggleContent() {
        var content = document.getElementById('hiddenContent');
        if(content.style.display === "none") {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
    }


    function filterTable(value, attribute) {
        var data = Filtro(value, enderecos, attribute);
        rebuildTable(data);
    }

    function Filtro(value, data, attribute){
        var filteredData = [];
        for(var i = 0; i < data.length; i++){
            value = value.toLowerCase();
            var columnValue = data[i][attribute].toLowerCase();
            if(columnValue.includes(value)){
                filteredData.push(data[i]);
            }
        }
        return filteredData;
    }

    function rebuildTable(data){
        var table = document.getElementById('tabelaendereco'); // target the entire table
        table.innerHTML = '<thead>' +
            '<tr>' +
                '<th>CEP</th>' +
                '<th>Rua</th>' +
                '<th>Complemento</th>' +
                '<th>Bairro</th>' +
                '<th>Cidade</th>' +
                '<th>Estado</th>' +
                '<th>Opções</th>' +
            '</tr>' +
                '</thead><tbody id="tabelaenderecoBody"></tbody>'; // add the thead structure
        var tbody = document.getElementById('tabelaenderecoBody'); // target the newly added tbody
        for(var i = 0; i < data.length; i++){
            tbody.innerHTML += '<tr>' +
                                    '<td>' + data[i].cep + '</td>' +
                                    '<td>' + data[i].rua + '</td>' +
                                    '<td>' + data[i].complemento + '</td>' +
                                    '<td>' + data[i].bairro + '</td>' +
                                    '<td>' + data[i].cidade + '</td>' +
                                    '<td>' + data[i].estado + '</td>' +
                                    '<td>' +
                                        '<a class="btn btn-primary btn-sm" th:href="@{{/endereco/novo(id=${{endereco.id}})}}">Editar</a>' +
                                        '<a class="btn btn-primary btn-sm ml-3" th:href="@{{/endereco/excluir(id=${{endereco.id}})}}" onclick="return confirm(\'Você realmente deseja excluir esse endereco?\')">Excluir</a>' +
                                    '</td>' +
                                '</tr>';
        }
    }


</script>




